# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# kotlin
.kotlin

# other
eclipse
run
examples
maven-publishing.credentials
